* {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    outline: none;
}

html {
    height: 100vh;
}

body {
    /*background-color: #41464d;*/
    color: #41464d;;
    font-family: "TabletGothic", "Helvetica Neue", Helvetica, Arial, FreeSans, sans-serif;
    font-size: 1em;
    line-height: 1;
    height: 100%;
    overflow: hidden;
}


a {
    text-decoration: none
}

h1, h2, h3, h4 {
    font-weight: normal;
    font-size: 1em;
}

/**********************
 * Basic Layout
 */
#main-container {
    display: flex;
    flex-flow: row;
    height: calc(100vh - 3rem);
}

#main-container > * {
    flex: 1;
    height: 100%;
    overflow: hidden;
}

#sidebar {
    order: 1;
    flex-basis: 300px;
    min-width: 300px;
    max-width: 300px;
}

#main {
    order: 2;
    flex-basis: 60vw;
}

#comments {
    order: 3;
    flex-basis: 20vw;
    min-width: 300px;
    max-width: 500px;
}

footer {
    min-width: 100%;
    height: 3rem;
}

#main {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

#time-selector {
    height: 10vh;
    min-height: 100px;
}
#comment-graph {
    height: 100%;
}

/**********************
 * Footer styling
 */
footer {
    /*position: fixed;
    bottom: 0;
    width: 100%;*/
    color: #eeeef0;
    background-color: #252525;
    background-image: linear-gradient(to right, #4A4A4A 0%, #2C2A2B 30%, #494A4E 60%, #3B3B3D 80%, #4A4A4A 100%);
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    text-align: right;
    font-size: 0.875rem;
}

footer path {
    fill: currentColor;
}

footer > div.left {
    margin-right: auto;

}

footer > div {
    /*padding-bottom: 1.25rem;
    padding-top: 1.25rem;*/
    margin: auto 1rem;
}

footer > div a {
    color: #c9c9cb;
    margin: 0 .4em;
}

footer > div a:hover,
footer > div a:active,
footer > div a:focus {
    color: #e5e5e5;
}

/**********************
 * Sidebar styling
 */
#sidebar {
    /*position: fixed;*/
    background-color: #f1f1f1;
    /*height: calc(100vh - 3rem);*/
    overflow: hidden;
    display: flex;
    flex-flow: column;
}

#sources {
    height: 100%;
    overflow-y: auto;
    padding-bottom: 1em;
}

.comex-logo {
    text-shadow: 1px 1px 0 #8D8D8D, 2px 2px 0 #8D8D8D, 3px 3px 0 #8D8D8D, 4px 4px 0 #8D8D8D; /*, 5px 5px 0 #8D8D8D, 6px 6px 0 #8D8D8D , 7px 7px 0 #8D8D8D, 8px 8px 0 #8D8D8D, 9px 9px 0 #8D8D8D, 10px 10px 5px rgba(0, 0, 0, 0.8);*/
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-decoration: underline;
    padding: 0;
    margin: 0;
}

#sidebar .comex-logo {
    margin: 0.5rem 1rem;
    line-height: 1.5;
}

#sidebar .source {
    position: relative;
    margin-top: 2.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    color: #252525;
    display: block;
}

#sidebar .source h1 {
    border-bottom: 1px solid #dcd9d9;
    font-variant: small-caps;
    letter-spacing: 0.2em;
    margin-bottom: 0.8rem;
    padding-left: 0.5em;
    margin-left: -0.5em;
    line-height: 1.5;
}

#sidebar .source .platform {
    height: 1.3em;
    font-size: 0.8em;
    color: #808080;
}

#sidebar .source .platform img {
    height: 100%;
    vertical-align: middle;
    filter: grayscale(1);
    opacity: 0.5;
}

#sidebar .source h2 {
    margin: 0.3em 0 0.2em 0;
    line-height: 1.25rem;
    font-size: 1.05rem;
    letter-spacing: 0.03em;
    color: #252525;
    font-weight: bold;
}

#sidebar .source h2 a {
    color: #252525;
}

#sidebar .source h2 a:hover {
    color: #686868;
}

#sidebar .source .info {
    font-size: 0.75em;
    color: #808080;
}

#sidebar .source .info time::after {
    color: rgba(105, 105, 108, 0.5);
    content: " / ";
    margin: 0 .15em;
    vertical-align: middle;
    font-size: 1.4em;
}

#sidebar .source .info .comments {
    position: relative;
    cursor: pointer;
}

#sidebar .source .info .comments::after {
    border-top: 1px solid currentColor;
    bottom: -1px;
    content: "";
    height: 1px;
    left: 0;
    opacity: .4;
    position: absolute;
    width: 100%;
}

#sidebar .source .info .comments:hover::after {
    opacity: 1;
}

#sidebar .source .add .loading {
    margin-top: 0.5rem;
}

#sidebar .source .add {
    /*font-weight: bold; */
    font-size: 3rem;
    color: #8c8c8c;
    padding: 1rem;
    /*margin: 1rem auto;*/
    width: 1em;
    text-align: center;
    border-width: 0.1rem;
    border-radius: 1rem;
    border-style: dashed;
    background-color: #e1e1e1;
    cursor: pointer;
}


#sidebar .source .add:hover {
    background-color: #dcd9d9;
}

#comments {
    position: relative;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    margin-right: 0;
    background-color: #f1f1f1;
}

#comments-filters {
    padding: 1rem 1rem;
    background-color: #e1e1e1;
}

#comments-filters ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#comments-filters ul li {
    list-style: none;
    display: flex;
    margin-right: 1rem;

}

#comments-filters button {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    background-color: #bdb9b9;
}

#comments-filters button:hover {
    background-color: #989898;
}

#comments-filters button svg {
    margin: 0.5rem;
}

#comments-filters input {
    padding: 0.5rem;
}

#comments-filters-counter {
    font-size: 0.75em;
    color: #808080;
}

#comments > ul {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

#comments > ul > li {
    list-style: none;
    padding: 1em 1em 0.5em 1em;
    border-bottom: 1px solid #dcd9d9;
    letter-spacing: 0.015em;
}

#comments > ul > li div {
    font-size: 0.75em;
    color: #808080;
    margin-bottom: 0.7em;
}

#comments > ul > li p {
    font-size: 0.9em;
    color: #252525;
    line-height: 1.5;
}

#comments > ul > li.highlight {
    background-color: #e1e1e1;
}

#comments-toggle {
    position: absolute;
    top: 20rem;
    right: 0;
    width: 1.5rem;
    height: 4rem;
    background-color: #e1e1e1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#comments-toggle .caret {
    height: 0;
    width: 0;
    display: inline-block;
    border: 0.6rem solid transparent;
    margin-left: -0.5rem;
    transition: transform 0.3s, margin 0.4s;
    transition-delay: 0.3s;
}

#comments-toggle .caret.left {
    border-right-color: #8c8c8c;
}

#comments-toggle .caret.right {
    border-right-color: #8c8c8c;
    /*border-left-color: #8c8c8c;*/
    margin-left: 0.8rem;
    /*transform: rotate(180deg);*/
    transform: scale(-1, 1);
}

#add-source-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

#add-source-modal > div {
    position: relative;
    background-color: #fefefe;
    margin: 8% auto;
    padding: 2rem;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    box-sizing: border-box;
}

/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

#add-source-modal .close {
    color: #aaa;
    position: absolute;
    top: .6rem;
    right: 1rem;
    font-size: 28px;
    font-weight: bold;
}

#add-source-modal .close:hover,
#add-source-modal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#add-source-modal h1 {
    font-weight: bold;
    font-size: 1.4em;
    letter-spacing: 0.1em;
}

#add-source-modal input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 0 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: inset 0 1px 3px #ddd;
}

#add-source-modal input:focus,
#add-source-modal input:active {
    box-shadow: none;
    outline: none;
}

#add-source-modal input:invalid {
    border-color: #900;
    background-color: #FDD;
}

#add-source-modal .error {
    display: none;
}

#add-source-modal input:valid {
    margin-bottom: 1em;
}

#add-source-modal input:invalid + .error {
    width: 100%;
    display: block;
    padding: calc(0.3em + 4px) 1em 0.3em 1em;
    font-size: 0.8em;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    margin-top: -4px;
    margin-bottom: 1em;
}

#add-source-modal div.sources {
    text-align: center;
    padding: 3rem 1rem;
    width: 30em;
    margin: 0 auto;
}

#add-source-modal div.sources h2 {
    letter-spacing: 0.2em;
    font-variant: small-caps;
}

#add-source-modal div.sources > div {
    margin-top: 1rem;
}

#add-source-modal a.logo::after {
    /*content: '•';*/
}

#add-source-modal a.logo {
    color: #808080;
    height: 1.2em;
    line-height: 2.5;
    margin-left: 1em;
    margin-right: 1em;
}

#add-source-modal a.logo:hover {
    color: #000;
}

#add-source-modal a.logo img {
    height: 1em;
    filter: invert(.5);
    transition: all 0.15s ease-in-out;
}

#add-source-modal a.logo img:hover {
    filter: invert(0);
}


#add-source-modal a.logo:last-of-type:after {
    content: none;
}


.loading {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 0.5rem;
    padding-top: 1em;
    margin-top: -1em;
}

.loading div {
    width: 1em;
    height: 1em;
    margin: 1em 0.3em;
    background: #808080;
    border-radius: 50%;
    -webkit-animation: 0.9s bounce infinite alternate;
    animation: 0.9s bounce infinite alternate;
}

.loading div:nth-child(2) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.loading div:nth-child(3) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

@-webkit-keyframes bounce {
    to {
        opacity: 0.3;
        -webkit-transform: translate3d(0, -1rem, 0);
        transform: translate3d(0, -1rem, 0);
    }
}

@keyframes bounce {
    to {
        opacity: 0.3;
        -webkit-transform: translate3d(0, -1rem, 0);
        transform: translate3d(0, -1rem, 0);
    }
}

.button {
    display: block;
    background-color: #b91109;
    border-radius: 5px;
    color: #fff;
    font-size: .8125rem;
    font-weight: bold;
    letter-spacing: .08em;
    line-height: 1.125rem;
    margin: 0 0 0 auto;
    padding: .625rem 1rem;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.15s ease-in-out;
    text-rendering: optimizeLegibility;
    bottom: 1.3rem;
    border: none;
}

.button:hover {
    background-color: #880d07;
    color: #fff;
    cursor: pointer;
}


.pretty-select {
    display: flex;
    flex-direction: column;
    position: relative;
}

.pretty-select label {
    padding: 0 2em 0 0.5em;
    display: flex;
    align-items: center;
    background-color: #e1e1e1;
    border-bottom: #878787 dashed 1px;
    position: absolute;
    top: 0;
    width: 100%;
    pointer-events: none;
    order: 2;
    z-index: 1;
    transition: background .1s ease-in-out;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    line-height: 2em;
}

.pretty-select label:hover {
    background: #dcd9d9;
}

.pretty-select:focus label {
    position: relative;
    pointer-events: all;
}

.pretty-select input {
    opacity: 0;
    position: absolute;
    left: -99999px;
}

.pretty-select input:checked + label {
    order: 1;
    z-index: 2;
    background: #e1e1e1;
    border: 1px solid #8c8c8c;
    position: relative;
    color: #252525;
    margin-bottom: 2px;
}

.pretty-select input:checked + label:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    position: absolute;
    right: 10px;
    top: calc(50% - 2.5px);
    pointer-events: none;
    z-index: 3;
}

.pretty-select input:checked + label:before {
    position: absolute;
    right: 0;
    height: 2em;
    width: 2em;
    content: '';
    background-color: #8c8c8c;
}

#sidebar .pretty-select {
    margin: 2rem 3rem 1rem 3rem;
}

#mouse-settings {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e1e1e175;
    padding: 0.75rem;
    display: flex;
}

#mouse-settings label {
    margin-right: 0.5rem;
    background-color: #e1e1e1;
    padding: 0.25em;
    border: 1px dashed #8c8c8c;
    opacity: 0.5;
    cursor: pointer;
}

#mouse-settings input:checked + label {
    opacity: 1;
    border-style: solid;
}

#mouse-settings label:last-of-type {
    margin-right: 0;
}

#mouse-settings svg {
    height: 0.9rem;
}

#mouse-settings svg path {
    fill: #8c8c8c;
}

#mouse-settings input {
    display: none;
}